textarea {
    resize: none;
}

.main-input-div {
    margin: auto;
    width: 100vw;
    height: 100vh;
    max-width: 800px;
    max-height: 400px;
    background-color: rgb(27, 27, 27); 
}
.main-input {
    width: 100%;
    height: 100%;
    font-family: Hack, monospace;
    color: white;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border-color:rgb(82, 82, 82);
    border-block: none;
    outline: none;
}

.main-input:focus {
    outline: none;
} 

.input-nav {
    display: flex;
    margin: auto;
    width: 100vw;
    max-width: 800px;
    background-color: rgb(43, 43, 43);
    align-items: center;
    justify-content: space-between;
    text-align: right;
    border-color:rgb(82, 82, 82);
    border-style: solid;
    border-width: 1px;
    color: rgb(206, 206, 206);
    padding-inline: 20px;
}

.input-nav p {
    padding: 0;
    margin: 0;
}

.input-nav .btn {
    background-color: rgba(50, 44, 53, 0);
    margin-right: 10px;
    height: 100% !important;
    padding: 0;
    margin: 0.5rem;
}
.run {
    color: rgb(83, 231, 90); 
}
.run:hover {
    color: rgb(54, 148, 59);
}
.clear-output {
    color: rgb(255, 62, 62); 
}
.clear-output:hover {
    color: rgb(133, 35, 35); 
}
.output-div {
    background-color: rgb(43, 43, 43);
    max-width: 800px;
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: left;
    border-color:rgb(82, 82, 82);
    border-style: solid;
    border-width: 1px;
}
.output-div p {
    margin-left: 0.5rem;
    padding-top: 0.5rem;
}
.output {
    margin-top: 0;
    width: 100vw;
    max-width: 800px;
    max-height: 270px;
    overflow: auto;
    background-color: rgb(27, 27, 27);
    border-top-style: solid;
    border-top-color: rgb(82, 82, 82);
    border-width: 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 1rem;
}
.output p {
    margin: 0;
}
