{% extends 'base.html' %}
{% block styles %}
<link
href="{{ url_for('static', filename='pg/docs.css') }}"
rel="stylesheet"
/>
{% endblock %} 

{% block title %}Docs{% endblock %}
{% block content %}
<div class="docs-body">
    <h1><strong>About Tranescript</strong></h1>
    <hr>
    <p>
        Tranescript is a multi purpose scripting language. The goal of the creator was to get recognition from ladies around the world, so for some reason he decided that building an interpreter was the way to go. Using Tranescript in your production environment is not recommended, unless you want to sabotage the company you work for, in which case it is probably your best choice.
    </p>
    <p>
    See the
    <a href="https://github.com/jazzyoda5/interpreter">source code</a>
     of the project on github.</p>
    <hr>
    <br>
    <h2>Usage</h2>
    <br>
    <ul>
        <li>
            <h4>Built In Types</h4>
            <p>TS supports three built in data types.<br>

                <mark>Integer</mark> - <mark>int</mark><br>
                <mark>String</mark> - <mark>str</mark><br>
                <mark>Boolean</mark> - <mark>bool</mark><br>
            </p>
        </li>
        <br>
        <li>
            <h4>Declaring Variables</h4>
            <p>Variables should be declared like this<br>
                <mark>[var name]: [var type] = [value];</mark><br>
                Example: <mark>var: str = 'I am a string';</mark>
            </p>
        </li>
        <br>
        <li>
            <h4>Arithmetic Operations</h4>
            <p>TS supports addition, subtraction, division and multiplication.</p>
            <mark>Addition</mark> - <mark>+</mark><br>
            <mark>Subtraction</mark> - <mark>-</mark><br>
            <mark>Division</mark> - <mark>/</mark><br>
            <mark>Multiplication</mark> - <mark>*</mark><br>
            <p>You can also wrap terms in parenthesis like so - <mark>(3 + (2 - 1)) * 4</mark>
        </li>
        <br>
        <li>
            <h4>print(args*)</h4>
            <p>The <mark>print()</mark> function prints the given arguments to the standard output device.</p>
        </li>
        <br>
        <li>
            <h4>Functions</h4>
            <p>Functions must be defined using the keyword <mark>function</mark>. You can declare as many arguments as you want, but you must also declare the type.</p>
            <p>exmaple: <mark>function [function name]([arg name]: [arg type])</mark>.</p>
        </li>
        <br>
        <li>
            <h4>Conditional Blocks</h4>
            <p>If - else blocks can be defined like this: <br>
            example: <mark>if ([condition]) { [block] } else { [block] }</mark><br>
            <br>
            Given condition can be a Boolean value or a comparison.<br>Supported comparison types are: <mark>>, <, /, *, <=, >=</mark>. Comparsion is only tested on <mark>int</mark> data types.</p>
        </li>
    </ul>
</div>
{% endblock %}